@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@font-face {
  font-family: "CK7";
  src: url("../Recursos/Fuentes/Cyberfunk.ttf");
}
body{
    background-color: black;
    color: green;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
nav{
    display: flex;1
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-inline: 1rem;
}
nav img{
    object-fit: fill;
    width: 20%;
    position: left;
}
marquee{
    font-size: 2rem;
    font-family: 'CK7';
}
nav div{
    gap: 1rem;
    display: flex;
    width: fit-content;
}
a,summary{
    transition-duration: 1s;
    text-decoration: none;
    font-family: 'CK7';
    color:green;
    font-size:1.25rem;
    padding-inline: 1rem;
    border-radius: 200px;
    overflow: hidden;
}
nav a:hover,summary:hover{
    background-color: white;
}
@keyframes colorchange {
    0%{
        background-color: transparent;
    }
    100%{
        background-color: white;
    }
}
h1{
    color: green;
    text-align: center;
}
/* ---- NO TOCAR ---- */
@media (max-width: 900px) {
    .songs{
        flex-direction: column;
    } 
    .hidden-on-mobile{
        display: none;
    } 
    nav img {
        width: 50%;
    }
}
@media (min-width: 900px){
    .hidden-on-desktop{
        display: none;
    }
}
details div {
    flex-direction: column;
    position: absolute;
    right: 0;
    padding: 1rem;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.689);
    text-align: center;
    border-radius: 1rem;
}
summary {
    list-style: none;       /* Firefox, algunos navegadores */
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;          /* Chrome, Safari, Edge */
}
summary::marker {
    display: none;          /* Estándar (Firefox moderno, otros) */
}
/* COMIENZA MAIN */
main{
    display: flex;
    padding-inline: 20px;
}
section{
    width: 70%;
    align-items: center;
}
section{
    padding-inline: 1rem;
}
.intro-pres{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro-pres iframe{
    border-radius: 20px;
    width: 100%;
}
.pres{
    margin-left: 1rem;
    width: 100%;
}
aside{
    width: 30%;
    align-items: center;
}
aside iframe{
    margin:0;
    padding: 0;
}
section h1{
    border-bottom: 1px solid white;
}
aside h1{
    border-bottom: 1px solid white;
}
.songs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
.contacto{
    width: 100%;
    text-align: center;
    font-style: bold;
}
.contacto span{
    font-size: 30px;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.redes a{
    background-color: white;
    border-radius: 1rem;
}
.albums{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.extras iframe{
    width: 100%;
}
.audio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.extras p{
    text-align: center;
}
#kick-s{
    height: 250px;
}
@media (min-width: 600px){
    main{
        margin-inline: 0;
        padding-inline: 0;
    }
}
@media (max-width: 700px) {
    .intro-pres{
        flex-wrap: wrap;
    }
    main{
        padding-inline: 2rem;
    }
}
@media (max-width: 900px) {
    main{
        padding-inline: 0;
        flex-wrap: wrap;
    }
    section{
        width: 100%;
        text-align: center;
    }
    aside{
        width: 100%;
    }
    aside iframe{
        width: 100%;
    }
    .contacto{
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .redes{
        gap: 0;
        justify-content: space-between;
    }
}

@media (max-width: 720px){
    .albums{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        
    }
}

/* FOOTER */
footer{
    margin-top: 1rem;
    border-top: 1px solid white;
    text-align: center;
}
footer span{
    font-size: 15px;
}
