@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@font-face {
  font-family: "CK7";
  src: url("../Recursos/Fuentes/Cyberfunk.ttf");
}
body{
    background-color: black;
    color: green;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
nav img{
    object-fit: fill;
    width: 20%;
    position: left;
}
marquee{
    font-size: 2rem;
    font-family: 'CK7';
}
nav div{
    gap: 1rem;
    display: flex;
    width: fit-content;
}
a,summary{
    transition-duration: 1s;
    text-decoration: none;
    font-family: 'CK7';
    color:green;
    font-size:1.25rem;
    padding-inline: 1rem;
    border-radius: 200px;
    overflow: hidden;
}
a:hover,summary:hover{
    background-color: white;
}
@keyframes colorchange {
    0%{
        background-color: transparent;
    }
    100%{
        background-color: white;
    }
}
h1{
    color: green;
    text-align: center;
}
/* ---- NO TOCAR ---- */
@media (max-width: 900px) {
    .songs{
        flex-direction: column;
    } 
    .hidden-on-mobile{
        display: none;
    } 
    nav img {
        width: 50%;
    }
}
@media (min-width: 900px){
    .hidden-on-desktop{
        display: none;
    }

}
.songs{
    display: flex;
    gap: 1rem;
}

details div {
    flex-direction: column;
    position: absolute;
    right: 0;
    padding: 1rem;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.689);
    text-align: center;
    border-radius: 1rem;
}
summary {
  list-style: none;       /* Firefox, algunos navegadores */
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;          /* Chrome, Safari, Edge */
}
summary::marker {
  display: none;          /* Estándar (Firefox moderno, otros) */
}
